@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,300&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}


section {
    background: white;
    width: 100%; 
    padding: 10px;
}
/* styling for the navigation panel */
#navigation-panel{
    color: black;
    width: 100%;
    position: fixed; 
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 777;
    transition: .5s;
}


.nav-col {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 10px;
    background-color: white;
}

.logo-image {
    width: 30%;
    cursor: pointer;
}

.nav-links {
    width: 50%;
    margin: auto;
    padding: 5px;
}

.link-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-item {
    list-style: none;
    font-size: 20px;
    position: relative;
}

.link-item a {
    transition: .5s;
}

.link-item:hover a {
    color: grey;
}

.contact-btn {
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 2px;
    
}

.contact-btn:hover {
    color: grey;
}

.black-underline {
    background: black;
    top: -20px;
    width: 70%;
}

.underline {
    height: 5%;
    position: absolute;
    left: -50px;
    opacity: 0;
    transition: .5s;
}

.link-item:hover .underline{
    opacity: 1 !important;
    left: 0;
}

.transparent-btn {
    color: black;
    background: transparent;
    border: 1px black solid;
    font-size: 25px;
}

/* styling the sidebar for smaller screens */

.side-bar {
    width: 60%;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: 7777;
    right: -1000px;
    top: 0;
    padding: 15px 0 0 35px;
    transition: .6s;
    display: none;

}

.side-bar.opened {
    right: 0;
}

.side-bar-item {
    margin-top: 40px;
}

.side-bar-item a {
    color: white;
}

.white-underline {
    background: white;
    bottom: -10px;
    width: 10%;
}

.side-bar-btn{
    background: black;
    width: 50px;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px;
    height: 50px;
    z-index: 999;
    display: none ;
}



.open-btn {
    position: fixed;
    right: 0;
    top: 0;
    transition: .5s;
}



.menu-btn {
    width: 100%;
    cursor: pointer;
}


/* media screen for navigation bar <= 1200px */
@media screen and (max-width:1200px) {
        .link-item {
        font-size: 18px;
    }
    .nav-links {
        width: 70%;
    }

    .logo-image{
        width: 40%;
    }
}



@media screen and (max-width:950px) {
    .logo-image{
    width: 50%;
}
.nav-links {
    width: 90%;;
}

}

@media screen and (max-width:940px) {
    .side-bar-btn {
        display: block ;
    }

    .side-bar {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .logo-image {
        width: 30%;
    }
}


/* hero styling for first section */

#hero-section {
    padding-top: 130px;
}

.hero-container {
    margin-top: 10px;
    display: flex;
    width: 92%;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.hero-writeup {
    flex-basis: 45%;
    width: 100%;
    margin-left: 25px;
}

.hero-writeup h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 5px 0;
}

.hero-writeup p {
    font-size: 20px;
    line-height: 35px;
}

.conc-btn {
    margin-top: 25px;
    display: inline-block;
}

.hero-image-container {
    flex-basis: 60%;
    margin-left: 5px;
}

.hero-image-container img {
    width: 110%;
    height: 110%;
}

/* media screen styling for smaller screens  */
@media screen and (max-width:1000px){
    .hero-container {
        flex-direction: column;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        padding: 15px;
        margin: auto;
    }

    .hero-writeup h1{
        font-size: 30px;
        text-align: center;
    }

    .reverse-con {
        flex-direction: column-reverse;
    }

    .hero-image-container img {
        width: 100%;
        height: 100%;
    }

}


/* about me section styling */

.flex-container {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.left-div {
    width: 100%;
    flex-basis: 45%;
}

.left-div img {
    width: 100%;
}

.right-div {
    width: 100%;
    flex-basis: 50%;
}

.about-heading {
    text-align:center;
    font-size: 40px;
    position: relative;
    font-weight: 100;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.underline-text {
    width: 15%;
    height: 2px;
    position: absolute;
    background: black;
    bottom: -5px;
    left: 37%;
}

.right-div p {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    
    margin-top: 15px;
}

.right-float-btn {
    float: right;
}


/* my projects section styling */
.reversed-container {
    flex-direction: row-reverse;
}


.left-float-btn {
    float: left;
}

.span-div{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.page-break-underline {
    width: 30%;
    height: 2px;
    border: 1px solid black;
    display: inline-block;
}

/* media screen for smaller screens */ 
@media screen and (max-width:1000px){    
    .reversed-container {
        flex-direction: column;
    }

    .about-heading {
        font-size: 30px;
    }

    .transparent-btn{
        float: right;
        font-size: 20px;
    }

    .white-border {
        width:fit-content;
    }
}



#bottom-panel {
    background: black;
}

.bottom-nav-col {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 30px 10px;
    background-color: black;
    color: white;
}

.designer-info {
    display: block;
    flex-basis: 50%;
    align-items: center;
}
.designer-info p {
    margin: 10px 0;
    font-size: 20px;
}



.bottom-nav-col a {
    color: white;
}

.white-border {
    border: 1px solid white;

}

/* media screen styling for footer  */

@media screen and (max-width:1000px) {
    .footer-nav {
        display: block;
    }

    .bottom-nav-col {
        padding: 10px 8px;
    }

    .footer-links {
        flex-direction: column;
        align-items: end;
        
    }

    .footer-links .link-item {
        padding-top: 7px;
        font-size: 15px;
    }

    .bottom-nav-col {
        width: 92%;
        margin: auto;
        text-align: left;
    }
}

/* projects section styling  */

.projects-container {
    padding-top: 150px;
    width: 92%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.projects-col {
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 150px;
}

.projects-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:80px auto;
}

.projects-info {
    flex-basis: 48%;
    margin: 2px 10px;
    text-align: center;
}

.project-image {
    width: 100%;
}

.view-btn {
    width: 70%;
    text-align: center;
    box-shadow: 0 5px 0px 0px grey;
    padding: 7px 0;
    transition: .7s;
}

.view-btn:hover {
    transform: translateY(-5px);
}

.next-btn {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 7px 0;
    position: relative;
    background: transparent;
    color: black;
}


.grey-slider {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: -150px;
    background: grey;
    height: 100%;
    z-index: -1;
    transition:  .5s;
    opacity: 0;
}

.next-btn:hover .grey-slider {
    left: 0;
    opacity: 1;
}


/* styles for smaller screens for Projects page */

@media screen and (max-width:1000px) {
    .projects-row {
        flex-direction: column;
        margin: 0 auto;
    }

    .view-btn {
        float: none;
    }

    .page-break-underline {
        display: none;
    }

    .left-dets {
        padding:80px 0
    }
}

/* project details page styling  */

.project-details {
    padding-top: 150px;
    width: 92%;
    margin: auto;
    margin-bottom: 100px;
}

.left-heading {
    text-align: left;
    margin-left: 0;
    margin-bottom: 40px;
}

.underline-det {
    left: 0;
}

.project-writeup {
    margin: 20px auto;
    font-size: 20px;
}

.caret-left {
    width: 20%;
}

.previous-btn {
    margin: 20px 0;
    font-weight: 800;
    display: flex;
    align-items: center;
    transition: .5s;
}

.previous-btn:hover {
    transform: translateY(-5px);
}

.desc-images {
    width: 100%;
    margin: auto;
    padding: 10px 8px;
}

.desc-images img {
    width: 100%;
    margin: 20px auto;
}

.back-top {
    width: 100%;
    margin: auto;
    text-align: center;
}

.top-btn {
    margin: auto;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .5s;
}

.top-btn:hover {
    transform: translateY(-5px);
}

.caret-up {
    margin-left: 15px;

}

/* media stylin for smaller screens */

@media screen and (max-width:1440px) {
    .previous-btn {
        width: 250px;
        font-size: 22px;
    }

    .top-btn{
        width: 250px;
        font-size: 22px;
        font-weight: 700;
    }
}

@media screen and (max-width:1000px) {
    .previous-btn {
        float: left;
    }

    .top-btn {
        float: none;
    }

    .project-writeup {
        font-size: 17px;
        padding: 5px;
    }
}


/* styling the about page */

.about-container {
    padding-top: 150px;
    width: 92%;
    margin: auto;
    margin-bottom: 100px;
}

.about-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.about-image {
    flex-basis: 55%;
    margin: auto;
}

.about-image img {
    width: 100%;
}



.about-description {
    flex-basis: 40%;
    width: 100%;
}

.underline-about {
    width: 40%;
    left: 0;
}

/* styling for smaller media screens */

@media screen and (max-width:1500px) {
    .about-title {
        width: 80%;
    }
}

@media screen and (max-width:1400px) {
    .about-text {
        font-size: 18px;
    }
}

@media screen and (max-width:1100px){
    .about-info {
        flex-direction: column;
    }

    .about-title {
        margin: 20px 0;
    }
}